{% extends "base.html" %}

{% block content %}
<form method="post" class="d-flex" role="search" enctype="multipart/form-data" action="">
    {{ form.hidden_tag() }}
    {%if not is_input_key%}
        {{ form.inputKey.label }}<br>
        {{ form.inputKey(class="form-control") }}<br>
        {% for error in form.inputKey.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    {%endif%}
    {{ form.inputCode(class="form-control") }}
    {{form.submit(type="submit", class="btn btn-outline-success")}}
    {% for error in form.inputCode.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
</form>
{{message}}
{% endblock %}