{% extends "base.html" %}

{% block content %}
<form method="post" class="" role="search" enctype="multipart/form-data" action="">
    {{ form.hidden_tag() }}
    <div>
        {%if not is_input_key%}
        {{ form.inputKey.label }}<br>
        {{ form.inputKey(class="form-control robo_input_field") }}<br>
        {% for error in form.inputKey.errors %}
        <p class="robo_errors_field" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        {%endif%}
    </div>
    <br>
    <div>
        {{ form.inputCode.label }}<br>
        {{ form.inputCode(class="form-control robo_input_field") }} <br>
        {% for error in form.inputCode.errors %}
        <p class="robo_errors_field" role="alert">
            {{ error }}
        </p>
        {% endfor %}
    </div>
    <br>
    <div> {{form.submit(type="submit", class="btn btn-outline-success robo_button")}}</div>
</form>
<br>
<div>{{message}}</div>
<br>
<div>
    <p>Не проверенные коды:</p>
    {% for code in codes %}
    <ul style="border: 0.0rem solid rgba(38, 202, 54, 1);"> {{code['code']}} </ul>
    {% endfor%}
</div>
{% endblock %}